%h1 Listing mylists

%table
  %thead
    %tr
      %th Title
      %th Default order
      %th Comment
      %th
      %th
      %th
      
  %tbody
    - @mylists.each do |mylist|
      %tr
        %td= mylist.title
        %td= mylist.default_order
        %td= mylist.comment
        %td= link_to 'Show', mylist
        %td= link_to 'Edit', edit_mylist_path(mylist)
        %td= link_to 'Destroy', mylist, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mylist', new_mylist_path
