%h1 Listing videos

%table
  %thead
    %tr
      %th Title
      %th Comment
      %th Mylist
      %th
      %th
      %th
      
  %tbody
    - @videos.each do |video|
      %tr
        %td= video.title
        %td= video.comment
        %td= video.mylist
        %td= link_to 'Show', video
        %td= link_to 'Edit', edit_video_path(video)
        %td= link_to 'Destroy', video, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Video', new_video_path
